.titulo {
  color: #fff;
  font-size: 50px;
  margin-top: 60px;
  font-family: "Playfair Display", serif;
}

.tabla1 {
  margin-top: -5px;
  margin-bottom: -2px;
}

.achicar {
  font-size: 15px !important;
  margin-bottom: -12px;
}

.achicarmas {
  font-size: 10px !important;
  margin-bottom: -16px;
}

.corazon {
  margin-top: 50px;
  height: 400px !important;
}

.boton1 {
  font-size: 20px;
  min-width: 60px;
  min-height: 25px;
  margin-right: 30px;
}

.boton2 {
  font-size: 20px;
  min-width: 60px;
  min-height: 25px;
  margin-left: 30px;
  background: rgb(224, 37, 56);
}

.boton3 {
  font-size: 35px;
  min-width: 120px;
  min-height: 50px;
  align-self: center;
}

.boton4 {
  font-size: 35px;
  min-width: 120px;
  min-height: 50px;
  margin-left: 30px;
  background: rgb(224, 37, 56);
}

.centro-izq,
.centro-der,
.input-ganaContra,
.input-jugada {
  background-color: #f8c436 !important;
}

.centro-med {
  width: 600px;
  text-align: center;
  vertical-align: middle;
  height: 500px;
  background-color: aliceblue;
  font-size: 25px;
  border-radius: 20px;
}

.centro-der {
  width: 400px !important;
  text-align: center;
  vertical-align: middle;
  height: 450px;
  background-color: aliceblue;
  font-size: 25px;
  margin-top: 25px;
  border-radius: 20px 0px 0px 20px;
}

.tagjugada {
  text-align: center;
  vertical-align: middle;
}

.tagganacontra {
  margin-top: -30px;
  text-align: center;
  vertical-align: middle;
}

.input-jugada {
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: -15px;
}

.input-ganaContra {
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: -20px;
}

.tablaJugadas {
  overflow-y: scroll;
  height: 320px;
}

.tablaPuntuaciones {
  overflow-y: scroll;
  height: 320px;
}

.centro-izq {
  text-align: center;
  vertical-align: middle;
  height: 450px;
  background-color: aliceblue;
  font-size: 25px;
  margin-top: 25px;
  border-radius: 0px 20px 20px 0px;
}

::ng-deep .tooltip-container{
  height: 55px;
  overflow: auto;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  border: 2px solid #6A041D;
  background-color: #c1385b;
  margin-left: -245px !important;
}

.mat-success {
  background-color: #28ca7f;
  align-self: center;
  margin-top: 20px;
}

.mat-form-field {
  font-size: 20px;
}

.mat-success {
  background-color: #28ca7f;
}

.green {
  color: #198754;
}

.red {
  color: #dc3545;
}
