<div fxLayout="column" fxLayoutGap="100px">
  <div fxLayout="row">
    <div fxLayoutAlign="center" fxFill>
      <div class="titulo">
        {{strTitulo}}
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="70px">
    <div fxFlex="22" fxLayoutAlign="center" class="centro-izq mat-elevation-z8"> 
      <div class="card-body" *ngIf="mostrarJugadasPosibles">
        <h3>JUGADAS DISPONIBLES</h3>
        <div class="tablaJugadas">
          <table  class="table tabla1">
            <tbody>
              <tr *ngFor="let jugada of jugadas$|async">
                <td>{{ jugada.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button mat-raised-button class="boton1" (click)="mostrarCrear()" color="success">Crear jugada nueva</button>
      </div>
      <div class="card-body" *ngIf="mostrarAgregarJugadas">
        <form [formGroup]="nuevaJugadaForm" id="datos">
        <h3>AGREGAR NUEVAS JUGADAS</h3>
        <div matTooltipClass="tooltip-container" [matTooltip]="'Al agregar nuevas jugadas, reiniciara la partida actual'" [matTooltipPosition]="'right'"><i class="fa fa-question-circle"></i></div>
          <span class="tagjugada" [class.green]="this.nuevaJugadaForm.get('jugada')?.valid"
            [class.red]="this.nuevaJugadaForm.get('jugada')?.invalid && this.nuevaJugadaForm.get('jugada')?.touched">
              Nombre de la jugada nueva: <br>
        </span>
      <mat-form-field class="input-jugada" appearance="fill">
        <input formControlName="jugada" maxlength="12" matInput placeholder="Ej: Marley">
      </mat-form-field>
        <span class="tagganacontra" [class.green]="this.nuevaJugadaForm.get('ganaContra')?.valid"
          [class.red]="this.nuevaJugadaForm.get('ganaContra')?.invalid && this.nuevaJugadaForm.get('ganaContra')?.touched">
            <br>A que le gana:<br>
        </span>
      <mat-form-field class="input-ganaContra" appearance="fill">
        <input formControlName="ganaContra" maxlength="12" matInput placeholder="Ej: Falopa">
      </mat-form-field>
      <br>
      <button mat-raised-button class="boton3" (click)="sumarJugada()" [disabled]="this.nuevaJugadaForm.get('jugada')?.invalid || 
      this.nuevaJugadaForm.get('ganaContra')?.invalid"  color="success">Agregar</button>
      <button mat-raised-button class="boton4" (click)="cancelarMostrar()">Cancelar</button>
      </form>
    </div>
    </div>
    <div fxFlex fxLayoutAlign="center" class="centro-med mat-elevation-z8">
      <div fxLayout="column">
        <app-juego (nuevoTitulo)="intercambiarTitulo($event)" (nuevaRonda)="sumarRonda($event)"></app-juego>
      </div>
    </div>
    <div fxFlex="26" fxLayoutAlign="center" class="centro-der mat-elevation-z8">
      <div class="card-body">
    <h3>TABLA DE PUNTUACIONES</h3>
    <table class="table">
      <tbody>
      <tr>
        <td>RONDA:</td>
        <td>GANADOR:</td>
      </tr>
        <tr *ngFor="let ronda of rondas">
          <td>{{ ronda.ronda }}</td>
          <td>{{ ronda.ganador }}</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  </div>
</div>