.titulo {
    color: #fff;
    font-size: 50px;
    margin-top: 60px;
    font-family: 'Playfair Display', serif;;
}

.card {
    background-color: #2FA4FF;
}
.corazon {
  margin-top: 50px;
  height: 400px !important;
}
.centro-med {
  width: 600px;
  text-align: center;
  vertical-align: middle;
  height: 500px;
  background-color: aliceblue;
  font-size: 25px;
}

.centro-der {
  width: 400px !important;
  text-align: center;
  vertical-align: middle;
  height: 450px;
  background-color: aliceblue;
  font-size: 25px;
  margin-top: 25px;
}

.mat-success {
  background-color: #28ca7f;
  align-self: center;
  margin-top: 20px;
}


.mat-fab {
  font-size: 22px;
  min-width: 90px;
  min-height: 90px;
}

.mat-success {
  background-color: #28ca7f;

}

.green {
    color: #198754;
}

.titulo2 {
    text-align: center;
}
